# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AtaraxiaSDK
AtaraxiaSDK
assets/images/downwardspiral.png
AtaraxiaSDK
AtaraxiaSDK
database/scoresDatabase.db
*.db
